<h1> Select a Tag </h1>

<form action="/bookmarks/filtered" method = 'POST'>
  <input type='hidden' name='_method' value='POST'>
    Tag: <input type='text' name='tag'>
    <input type='submit' value='Filter'>
  </form>
